body {
    background-image: url("./pics/ryuku.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: 'Ryuku';
    src: url('./containers/Ryuku.ttf');
}
